.App{
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  background-color: #070758;
  font-family: Lato,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo-contenedor{
  width: 100%;
  height: 100px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabeceralogo{
  height: 100%;
}
.contenedor-calculadora{
  width: 400px;
  height: ;
  padding: 14px;
  background-color:#8cbbf1;
  border-radius: 20px;
  border:5px solid white;
}
.fila{
  margin:4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

